.card-container {
  display: flex;
  flex-flow: column nowrap;

  md-card {
    margin: 0 16px 16px 0;
    width: 350px;
  }

}

.card-blue {
  background-color: #b0becc;

  md-card-actions {
    display: flex;
    flex-direction: column;
  }
}

.timeunits {
  display: flex;
  flex-flow: row wrap;

  md-list, md-nav-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px 20px 0 0;

  }

  md-icon {
    color: rgba(0, 0, 0, 0.12);
  }

  [md-list-icon] {
    color: white;
    background: rgba(0, 0, 0, 0.3);
  }
}

h2 {
  margin-top: 20px;
  display: block;
}
.secondary-text {
  color: rgba(0, 0, 0, 0.54);
}

