<div class="projects">
  <md-card>
    <md-list>
      <h3 md-subheader>Projects</h3>
      <div class="add-item-control">
        <a md-fab (click)="add()">
          <md-icon>add</md-icon>
        </a>
      </div>
      <md-list-item *ngFor="let project of projects">
        <md-icon md-list-icon>business</md-icon>
        <h4 md-line class="project-list-item-name">{{project.name}}</h4>
        <p md-line class="project-list-item-description">{{project.description}}</p>
      </md-list-item>
    </md-list>
  </md-card>
</div>
