.projects {
  display: flex;
  flex-flow: row wrap;

  md-list, md-nav-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px 20px 0 0;
  }

  md-icon {
    margin-left: auto;
  }

  [md-list-icon] {
    color: white;
    background: rgba(0, 0, 0, 0.3);
  }
}

.header {
  font-size: large;
  font-weight: 600;

  .fill-remaining {
    flex: 1 1 auto;
  }
}

.secondary-text {
  color: rgba(0, 0, 0, 0.54);
}
