.timesheets {
  display: flex;
  flex-flow: row wrap;

  md-list, md-nav-list {
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 350px;
    margin: 20px 20px 0 0;

  }

  //md-icon {
  //  color: rgba(0, 0, 0, 0.12);
  //}

  [md-list-icon] {
    color: white;
    background: rgba(0, 0, 0, 0.3);
  }
}

h2 {
  margin-top: 20px;
  display: block;
}
.secondary-text {
  color: rgba(0, 0, 0, 0.54);
}
