<md-card>
  <md-toolbar color="primary">Login</md-toolbar>
  <div class="alert-container">
    <div class="alert-content" *ngIf="error">
      Username/Password combination is incorrect
    </div>
  </div>
  <md-card-content>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div>
        <md-input placeholder="Username"
                  required
                  [(ngModel)]="command.username"
                  name="username"
                  dividerColor="warm"
                  #username="ngModel">
        </md-input>
        <div [hidden]="username.valid || username.pristine" class="alert">
          Username is required
        </div>
        <md-input placeholder="Password"
                  [(ngModel)]="command.password"
                  ngControl="password"  name="password"
                  type="password"></md-input>
      </div>

      <div>
        <button type="submit" md-raised-button color="primary">Login</button>
      </div>
    </form>
  </md-card-content>
</md-card>
