<div class="timesheets">
  <div>
    <md-nav-list>
      <md-list-item>
        <div class="header">
          Timesheets
          <!--<span class="fill-remaining"></span>-->
          <button md-fab (click)="add()">
            <md-icon color="accent">add</md-icon>
          </button>
        </div>
      </md-list-item>
      <md-list-item *ngFor="let timesheet of timesheets" (click)="openTimesheet(timesheet)">
        <h3 md-line>{{timesheet.name}}</h3>
        <p md-line>{{timesheet.description}}</p>
        <p md-line class="secondary-text">
          {{timesheet.beginDate | date:format}} - {{timesheet.endDate | date:format}}
        </p>
      </md-list-item>
    </md-nav-list>
  </div>
</div>
