<div class="employees">
  <md-list>
    <md-list-item>
      <div class="header">
        Employees
        <!--<span class="fill-remaining"></span>-->
        <button md-fab (click)="add()">
          <md-icon class="add-employee">add</md-icon>
        </button>
      </div>
    </md-list-item>
    <md-list-item *ngFor="let employee of employees" class="employee-list-item">
      <p md-line><span atEmployee="employee"></span></p>
      <p md-line class="employee-list-item-name">{{employee.firstName}} {{employee.lastName}}</p>
      <p md-line class="demo-secondary-text employee-list-item-email">{{employee.email}}</p>
    </md-list-item>
  </md-list>
</div>
