<h2>New Timesheet</h2>
<div>
  <md-card>
    <md-card-content>
      <form (ngSubmit)="save()" [formGroup]="form">
        <md-input class="input-full-width"
                  placeholder="Name"
                  dividerColor="warm"
                  formControlName="name">
        </md-input>
        <div [hidden]="name.valid || name.pristine" class="alert">
          Name is required
        </div>

        <md-input class="input-full-width"
                  placeholder="Description"
                  dividerColor="warm"
                  formControlName="description">
        </md-input>
        <div [hidden]="description.valid || description.pristine" class="alert">
          Description is required
        </div>

        <md-input class="input-full-width"
                  placeholder="Begin Date (mm/dd/yyyy)"
                  formControlName="beginDate">
        </md-input>
        <div [hidden]="beginDate.valid || beginDate.pristine" class="alert">
          Begin date is required in the format: 'mm/dd/yyyy
        </div>

        <md-input class="input-full-width"
                  placeholder="End Date (mm/dd/yyyy)"
                  formControlName="endDate">
        </md-input>
        <div [hidden]="endDate.valid || endDate.pristine" class="alert">
          Begin date is required in the format: 'mm/dd/yyyy
        </div>

        <div>
          <button [disabled]="!form.valid" type="submit" md-raised-button color="primary">Save</button>
        </div>
      </form>
    </md-card-content>
  </md-card>
</div>

